/**
 * Some Base Settings
 */
/* line 9, stanford_gallery.scss */
.node-stanford-gallery .field-name-field-s-gallery-image-info > .field-items > .field-item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
/* line 12, stanford_gallery.scss */
.node-stanford-gallery .field-name-field-s-gallery-image-info > .field-items > .field-item img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
/* line 17, stanford_gallery.scss */
.node-stanford-gallery .field-name-field-s-gallery-image-info > .field-items > .field-item a.stanford-gallery-image {
  border: 0;
  margin: 0;
}
/* line 21, stanford_gallery.scss */
.node-stanford-gallery .field-name-field-s-gallery-image-info > .field-items > .field-item a.stanford-gallery-image :hover {
  border: solid 2px #8c1515;
  margin: -2px;
  opacity: .9;
}

/**
 * View Modes
 */
/* line 40, stanford_gallery.scss */
.field-collection-view.view-mode-gallery-large {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0 1em 0.5em 0;
}
/* line 45, stanford_gallery.scss */
.field-collection-view.view-mode-gallery-large .field-name-field-s-image-credits,
.field-collection-view.view-mode-gallery-large .field-name-field-s-image-caption {
  max-width: 270px;
}
/* line 49, stanford_gallery.scss */
.field-collection-view.view-mode-gallery-large .field-name-field-s-image-credits {
  display: none;
}
/* line 56, stanford_gallery.scss */
.field-collection-view.view-mode-gallery-medium {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0 1em 0.5em 0;
}
/* line 61, stanford_gallery.scss */
.field-collection-view.view-mode-gallery-medium .field-name-field-s-image-credits,
.field-collection-view.view-mode-gallery-medium .field-name-field-s-image-caption {
  max-width: 140px;
}
/* line 65, stanford_gallery.scss */
.field-collection-view.view-mode-gallery-medium .field-name-field-s-image-credits {
  display: none;
}
/* line 72, stanford_gallery.scss */
.field-collection-view.view-mode-gallery-small {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0 1em 0.5em 0;
}
/* line 77, stanford_gallery.scss */
.field-collection-view.view-mode-gallery-small .field-name-field-s-image-credits,
.field-collection-view.view-mode-gallery-small .field-name-field-s-image-caption {
  max-width: 100px;
}
/* line 81, stanford_gallery.scss */
.field-collection-view.view-mode-gallery-small .field-name-field-s-image-credits {
  display: none;
}
